all:
  hosts:
%{ for server_name, server_data in hosts }
    ${server_name}:
      ansible_host: ${server_data.ipv4_address}
      ansible_user: user
      data_volume_path: ${server_data.data_volume_path}
%{~ endfor ~}
